/*
------------------------------------------------------------
|               CSS for Mobile CV by cetinajero
------------------------------------------------------------
*/

.pp_pic_holder {
    top: 120px!important;
    left: 265px!important;
}

.ppt {
    top: 95px!important;
    left: 285px!important;
}

.pp_overlay{
    width:100%!important;
}
