<div id="availability"><h1 class="low-gray">Disponibilidad</h1>
    <div id="info">
        <p>Disponibilidad para viajar: <strong>S&iacute;, Nacional e Internacionalmente (visa y pasaporte vigentes)</strong></p>
        <p>Disponibilidad para reubicarse: <strong>S&iacute;, preferentemente a Monterrey o Guadalajara</strong></p>
        <p>Tipo de contrataci&oacute;n: <strong>Tiempo Completo</strong></p>
        <p id="interest-areas">&Aacute;reas de inter&eacute;s:</p>
        <div class="floatleft">
            <h4>Seguridad de la Informaci&oacute;n / Sistemas</h4>
            <ul>
                <li>Seguridad Aplicativa (SAST | DAST)</li>
                <li>Seguridad en Redes (Perimetral e Infraestructura)</li>
                <li>Administrador de Infraestructura de TI</li>
                <li>Telecomunicaciones y Sistemas M&oacute;viles</li>
                <li>Consultor&iacute;a y Auditor&iacute;a de TI</li>
                <li>Investigaci&oacute;n y Reingenier&iacute;a de Servicios</li>
                <li>Gesti&oacute;n de Proyectos</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
