<div id="education"><h1 class="low-gray">Formaci&oacute;n Acad&eacute;mica</h1>
    <div id="info">
        <div id="degree">
            <div id="degree-name">
                <h2>Ingenier&iacute;a en Seguridad Computacional <small>Oct 2007 - Agosto 2011</small></h2>
                <div class="position">Universidad Tec-Milenio Campus Chihuahua, Chihuahua, Chih.</div>
            </div>
            <div id="degree-info">
                <p></p>
                <div class="floatleft">
                    <h4>Destacado:</h4>
                        <ul>
                            <li>Titulado</li>
                            <li title="Examen General de Egreso de Licenciatura | CENEVAL">Testimonio de Desempeño Sobresaliente (EGEL | CENEVAL)</li>
                            <li>Mantenido el promedio de calificaciones trabajando 45 horas por semana (toda la carrera)</li>
                        </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <hr/><!-- horizontal rule -->
        <div id="certifications">
            <h2>Cursos y Certificaciones</h2>
                <ul>
                    <a href="https://cert.eccouncil.org/ec-council-network-security-administrator.html?iframe=true&width=1110&height=400" rel="prettyPhoto" title="EC-Council Network Security Administrator">
                      <li id="remark">
                        <h3>ENSA - EC-Council Network Security Administrator
                          <small>EC-Council</small>
                        </h3>
                        <div class="position">2013 | Mexico City | 45 Hours</div>
                      </li>
                    </a>
                    <a href="/docs/Certification-TECI-FrtySec13.html/?iframe=true&width=1010&height=400" rel="prettyPhoto" title="HP Technical Certified I - Fortify Security">
                      <li id="certification">
                        <h3>Certificaci&oacute;n TECI-FrtySec13 | HP Technical Certified I - Fortify Security
                          <small>HP</small>
                        </h3>
                        <div class="position">2013 | M&eacute;xico, D.F.</div>
                      </li>
                    </a>
                    <a href="https://cert.eccouncil.org/ec-council-certified-secure-programmer.html?iframe=true&width=1110&height=400" rel="prettyPhoto" title="EC-Council Certified Secure Programmer">
                      <li id="certification">
                        <h3>Certificaci&oacute;n ECSP | EC-Council Certified Secure Programmer
                          <small>EC-Council</small>
                        </h3>
                        <div class="position">2012 | M&eacute;xico, D.F.</div>
                        </li>
                    </a>
                    <a href="https://cert.eccouncil.org/certified-ethical-hacker.html?iframe=true&width=1110&height=400" rel="prettyPhoto" title="Certified Ethical Hacker">
                      <li id="certification">
                        <h3>Certificaci&oacute;n CEH | Certified Ethical Hacker
                          <small>EC-Council</small>
                        </h3>
                        <div class="position">2012 | M&eacute;xico, D.F.</div>
                      </li>
                    </a>
                    <li id="remark" class="disabled-pdf"><h3>Curso de Certificaci&oacute;n S5 | Security 5 <small>EC-Council</small></h3><div class="position">2011 | Chihuahua, M&eacute;xico | 20 Horas</div></li>
                    <a href="http://www.alapsi.net/pgsi.html?iframe=true&width=1180&height=400" rel="prettyPhoto" title="Especialista Certificado en Seguridad de Informaci&oacute;n">
                      <li id="certification">
                        <h3>Certificaci&oacute;n ECSI | Especialista Certificado en Seguridad de Informaci&oacute;n
                          <small>ALAPSI</small>
                        </h3>
                        <div class="position">2011 | Chihuahua, M&eacute;xico</div>
                      </li>
                    </a>
                    <li id="remark" class="disabled-pdf"><h3>Programa de Gesti&oacute;n de Seguridad de Informaci&oacute;n <small>ALAPSI</small></h3><div class="position">2011 | Chihuahua, M&eacute;xico | 100 Horas</div></li>
                    <li id="remark"><h3>Curso T&eacute;cnico de Geolocalizaci&oacute;n y Telemetr&iacute;a en Sistemas IP sobre Radiofrecuencia <small>BGH</small></h3><div class="position">2009 | Buenos Aires, Argentina | 55 Horas</div></li>
                    <li id="remark"><h3>6420A - Fundamentals of Windows Server 2008 Network and Applications Infrastructure <small>NetX</small></h3><div class="position">2009 | Chihuahua, M&eacute;xico | 35 Horas</div></li>
                    <li id="remark"><h3>Curso de Certificaci&oacute;n MWFE | Motorola Wireless Field Engineer <small>Motorola</small></h3><div class="position">2009 | M&eacute;xico, D.F. | 45 Horas</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>MMD200 - Curso T&eacute;cnico MotoMesh Solo/Duo/Quattro <small>Motorola</small></h3><div class="position">2008 | M&eacute;xico, D.F. | 20 Horas</div></li>
                    <li id="certification"><h3>Certificaci&oacute;n CASS | Certified Alvarion System Specialist <small>Alvarion</small></h3><div class="position">2008 | Canc&uacute;n, M&eacute;xico</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>Seminario de Convergencia IP <small>Pelco</small></h3><div class="position">2008 | Monterrey, M&eacute;xico | 5 Horas</div></li>
                    <li id="remark"><h3>Curso T&eacute;cnico de Instalaci&oacute;n y Configuraci&oacute;n de Servicios de Imagen y Video Digital <small>Pelco</small></h3><div class="position">2008 | Clovis, CA, Estados Unidos | 30 Horas</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>Curso T&eacute;cnico de Grabaci&oacute;n de Video IP DigitalSENTRY <small>Pelco</small></h3><div class="position">2008 | Clovis, CA, Estados Unidos | 20 Horas</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>CPT400 - Curso T&eacute;cnico Prizm Management System <small>Motorola</small></h3><div class="position">2007 | M&eacute;xico, D.F. | 10 Horas</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>HZD200 - Curso T&eacute;cnico HotZone Duo <small>Motorola</small></h3><div class="position">2007 | M&eacute;xico, D.F. | 20 Horas</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>BPL200 - Curso T&eacute;cnico Broadband over Power Line <small>Motorola</small></h3><div class="position">2007 | M&eacute;xico, D.F. | 10 Horas</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>CPT210 - Curso T&eacute;cnico Orthogon Systems OFDM <small>Motorola</small></h3><div class="position">2007 | M&eacute;xico, D.F. | 20 Horas</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>CPT200 - Curso T&eacute;cnico Canopy FSK <small>Motorola</small></h3><div class="position">2007 | M&eacute;xico, D.F. | 20 Horas</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>Curso Base de Diseño de Sistemas de Videovigilancia <small>Pelco</small></h3><div class="position">2007 | Clovis, CA, Estados Unidos | 50 Horas</div></li>
                </ul>
        </div>
    </div>
</div>
