<div id="experience"><h1 class="low-gray">Experiencia Laboral</h1>
  <div id="info">
    <div id="job">
      <div id="jobname">
        <h2>Sytecso / Grupo Salinas, Banorte, Banxico y otros clientes <small>Mayo 2012 - presente</small></h2>
        <div class="position">Security Process Practice Leader <small>(Tiempo Completo)</small></div>
      </div>
      <div id="jobdesc">
        <p>L&iacute;der de la pr&aacute;ctica de seguridad aplicativa de Sytecso para el hallazgo, an&aacute;lisis, resoluci&oacute;n y validaci&oacute;n de defectos y/o vulnerabilidades de seguridad a trav&eacute;s del an&aacute;lisis de c&oacute;digo fuente y ejecuci&oacute;n de pruebas de penetraci&oacute;n a infraestructura, aplicaciones y servicios Web.</p>
      </div>
      <div id="jobtasks" class="disabled-pdf">
        <div class="floatleft">
          <h4>Actividades Principales:</h4>
          <ul>
            <li>L&iacute;der de proyectos en la implementaci&oacute;n de marcos de referencia y cumplimiento de est&aacute;ndares en seguridad inform&aacute;tica. (OWASP, PCI DSS, SAMM, etc.)</li>
            <li>Instalaci&oacute;n, parametrizaci&oacute;n y capacitaci&oacute;n de la suite de herramientas utilizadas para la automatizaci&oacute;n de la seguridad conformada por uno de los pilares de la divisi&oacute;n ESP (Enterprise Security Products).</li>
            <li>An&aacute;lisis de c&oacute;digo est&aacute;tico para la detecci&oacute;n de vulnerabilidades y/o defectos de seguridad en software para escenarios White Box.</li>
            <li>Pruebas de penetraci&oacute;n para evaluaci&oacute;n de la seguridad inform&aacute;tica de la infraestructura en escenarios Black Box.</li>
            <li>Implementaci&oacute;n, parametrizaci&oacute;n y despliegue de esc&aacute;neres para la detecci&oacute;n de vulnerabilidades explotables en las diferentes DMZ utilizadas por los corporativos para la publicaci&oacute;n de sus aplicaciones AAA.</li>
            <li>Implementaci&oacute;n y determinaci&oacute;n del Factor de Riesgo de seguridad inform&aacute;tica por servicio/unidad de negocio y/o compa&ntilde;ia asi como la ejecuci&oacute;n de reportes, cumplimiento de estandares, indicadores de desempe&ntilde;o (KPI's / KGI's), creaci&oacute;n de paquetes de reglas de vulnerabilidades, etc.</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <hr/><!-- horizontal rule -->
    <div id="job">
      <div id="remark">
        <h2>PV Comunicaciones <small>Julio 2010 - Abril 2012</small></h2>
        <div class="position">Gerente de Ingenier&iacute;a y Sistemas <small>(Tiempo Completo)</small></div>
      </div>
      <div id="jobdesc">
        <p>Coordinar y supervisar el soporte y asesoramiento de redes inal&aacute;mbricas y CCTV para cada uno de los distribuidores de la empresa, contemplando el dise&ntilde;o y elaboraci&oacute;n de proyectos.</p>
      </div>
      <div id="jobtasks" class="disabled-pdf">
        <div class="floatleft">
          <h4>Actividades Principales:</h4>
          <ul>
            <li>Control y administraci&oacute;n de cursos de formaci&oacute;n t&eacute;cnica para el canal de
            distribuidores y mercados verticales.</li>
            <li>Atenci&oacute;n a distribuidores en la gesti&oacute;n, diseño, planeaci&oacute;n y estimaci&oacute;n de
            proyects de WiBB y CCTV, incluyendo visitas personales en fase de lanzamiento a nivel nacional.</li>
            <li>Control de calidad, an&aacute;lisis de competencias y prueba de productos de nuevo ingreso al portafolio
            de soluciones, as&iacute; como l&iacute;der en varios proyectos relacionados con la introducci&oacute;n de nuevas tecnolog&iacute;as y servicios.</li>
            <li>Apoyo al distribuidor en demostraciones al cliente final como ingeniero de campo representante de
            marca.</li>
            <li>Encargado del proceso de calidad en el &aacute;rea de TI que PV Comunicaciones realiza anualmente para
            mantener el Sistema de Gesti&oacute;n de Calidad certificado en ISO 9001:2008.</li>
            <li>Programa de visitas anuales a distribuidores con la autorizaci&oacute;n correspondiente para programar
            itinerario.</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <hr/><!-- horizontal rule -->
    <div id="job">
      <div id="remark">
        <h2>PV Comunicaciones <small>Agosto 2009 - Julio 2010</small></h2>
        <div class="position">Jefe de Sistemas <small>(Tiempo Completo)</small></div>
      </div>
      <div id="jobdesc">
        <p>Mantener la integridad de los equipos de computo y servidores, as&iacute; como los servicios que se encuentran hospedados en el site incluyendo la comunicaci&oacute;n entre las sucursales por medio de voz, video y datos, adem&aacute;s de los respaldos y mantenimiento de toda la infraestructura del TI.</p>
      </div>
      <div id="jobtasks" class="disabled-pdf">
        <div class="floatleft">
          <h4>Actividades Principales:</h4>
          <ul>
            <li>Control y administraci&oacute;n de los diferentes centros de computo entornos de virtualizaci&oacute;n as&iacute; como la infraestructura de TI de la empresa a nivel nacional.</li>
            <li>An&aacute;lisis y evaluaci&oacute;n de herramientas de software relacionadas con la gesti&oacute;n de riesgos, gesti&oacute;n de vulnerabilidades, seguridad de la informaci&oacute;n y gesti&oacute;n de eventos.</li>
            <li>Administrar las pol&iacute;ticas de seguridad de la red empresarial as&iacute; como las pol&iacute;ticas respaldo de informaci&oacute;n de usuarios y servidores.</li>
            <li>Control y administraci&oacute;n de las oportunidades de crecimiento en servicios de TI a trav&eacute;s del ISO 9001:2008 como campo de mejora continua.</li>
            <li>Administraci&oacute;n y monitoreo de servicios de computo, red, PBX y CCTV como m&eacute;todo proactivo para recuperaci&oacute;n de desastres, c&aacute;lculo del retorno de inversi&oacute;n y toma de decisiones.</li>
            <li>L&iacute;der de la verificaci&oacute;n de integridad y funcionalidad de la infraestructura de TI, an&aacute;lisis preventivo contra ca&iacute;das de servicio, mantenimiento y actualizaci&oacute;n de sistemas inform&aacute;ticos (Linux | Windows), gesti&oacute;n de riesgos y continuidad del negocio.</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <hr/><!-- horizontal rule -->
    <div id="job">
      <div id="remark">
        <h2>PV Comunicaciones <small>Diciembre 2006 - Agosto 2009</small></h2>
        <div class="position">Auxiliar en Sistemas <small>(Tiempo Completo)</small></div>
      </div>
      <div id="jobdesc">
        <p>Dar apoyo en el &aacute;rea de soporte t&eacute;cnico a usuarios, englobando servidores, comunicaciones, redes, seguridad, soporte f&iacute;sico y l&oacute;gico, respaldo de DB's, as&iacute; como la implementaci&oacute;n de nuevo software y/o servicios.</p>
      </div>
      <div id="jobtasks" class="disabled-pdf">
        <div class="floatleft">
          <h4>Actividades Principales:</h4>
          <ul>
            <li>Respaldo de informaci&oacute;n de BD's (diario, semanal y mensual).</li>
            <li>Monitoreo de los servidores, enlaces dedicados y servicio de Red.</li>
            <li>Administraci&oacute;n de antivirus (Corporativo y Sucursales).</li>
            <li>Mantenimiento preventivo y correctivo al equipo de computo.</li>
            <li>Apoyar en el servicio y funcionamiento del conmutador PBX.</li>
            <li>Auxiliar al cliente interno de la empresa en cuestiones del &aacute;rea de sistemas.</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
