<div id="projects"><h1 class="low-gray">Proyectos Destacables</h1>
    <div id="info">
        <ul>
            <li id="notremark"><h3>Nuevo Site Principal - L&iacute;der en la construcci&oacute;n e implementaci&oacute;n del nuevo centro de computo de PV Comunicaciones a nivel nacional <small>PV Comunicaciones</small></h3><div class="position">2010 | Chihuahua, M&eacute;xico | $ 1,280,000 MXN</div></li>
            <li id="remark"><h3>Asterisk - Promotor y encargado de implementaci&oacute;n de red PBX VoIP a nivel nacional | GNU/Linux CentOS, Asterisk, Cisco SPA500 <small>PV Comunicaciones</small></h3><div class="position">2010 | Chihuahua, M&eacute;xico | $ 470,000 MXN</div></li>
            <li id="notremark"><h3>VMware - Promotor y encargado de implementaci&oacute;n de virtualizaci&oacute;n | Se obtuvieron 15 vServers con 2 Hypervisores vSphere 4 ESXi <small>PV Comunicaciones</small></h3><div class="position">2009 | Chihuahua, M&eacute;xico | $ 120,000 MXN</div></li>
            <li id="remark"><h3>iNetworks Veracruz - Encargado de instalaci&oacute;n de MotoMesh Management Server | Red Mesh Metropolitana para Veracruz y Boca del Rio <small>Gob de Veracruz</small></h3><div class="position">2009 | Veracruz, M&eacute;xico | $USD 1,500,000</div></li>
            <li id="notremark"><h3>Zumpango Seguro - Diseñador del proyecto y l&iacute;der de flotilla | Videoseguridad Inal&aacute;mbrica administrada por el C4 del municipio <small>Gobierno de Zumpango</small></h3><div class="position">2008 | Zumpango, Edo. de M&eacute;xico | $USD 120,000</div></li>
        </ul>
    </div>
</div>
