<div id="skills"><h1 class="low-gray">Habilidades Profesionales</h1>
    <div id="info">
        <p>Me considero un profesionista responsable, proactivo, innovador y con liderazgo; con capacidad para trabajar en equipo, y tomar decisiones en situaciones criticas o bajo presi&oacute;n. Cuento con enfoque a resultados, facilidad de palabra y capacidad de adaptación al cambio.</p>
        <div id="OS" class="floatleft">
            <h3>Sistemas Operativos</h3>
                <ul>
                    <li>Microsoft Windows</li>
                    <li>UNIX</li>
                    <li>Linux | BSD</li>
                    <li>Solaris</li>
                    <li>Mac OS X</li>
                    <li>Apple iOS</li>
                    <li>Entre otros...</li>
                </ul>
        </div>
        <div id="software" class="floatleft">
            <h3>Software</h3>
                <ul>
                    <li>VMware (ESX | ESXi | vSphere)</li>
                    <li>Asterisk (VoIP)</li>
                    <li>Active Directory, Exchange, MS SQL</li>
                    <li>LAMP (Linux | Apache | MySQL | PHP)</li>
                    <li>Sendmail, Postfix, Bind</li>
                    <li>Microsoft Office, PhotoShop, Corel</li>
                    <li>Entre otros...</li>
                </ul>
        </div>
        <div id="programming-languages" class="floatleft">
            <h3>Lenguajes</h3>
                <ul>
                    <li>HTML5/CSS3/JS</li>
                    <li>C++</li>
                    <li>Java</li>
                    <li>PHP</li>
                    <li>Python</li>
                    <li>Ruby on Rails</li>
                    <li>Entre otros...</li>
                </ul>
        </div>
        <div class="clear"></div>
        <div id="spoken-languages" class="floatleft">
            <h3></h3>
            <div><strong>Ingl&eacute;s:</strong> Nivel 5 (CEFR) | 87%</div>
        </div>
        <div class="clear"></div>
    </div>
</div>
