<div id="availability"><h1 class="low-gray">Availability</h1>
    <div id="info">
        <p>Willing to travel: <strong>Yes, inside and outside the country (current visa and passport)</strong></p>
        <p>Willingness to relocate: <strong>Yes</strong></p>
        <p>Type of contract desired: <strong>Full time</strong></p>
        <p id="interest-areas">Areas of interest:</p>
        <div class="floatleft">
            <h4>Information security / IT</h4>
            <ul>
                <li>Application security (SAST | DAST)</li>
                <li>Network security (Perimeter and Infrastructure)</li>
                <li>IT infrastructure administrator</li>
                <li>Telecommunications and mobile systems</li>
                <li>IT consultanting</li>
                <li>Research and reeingeneering</li>
                <li>Project management</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
