<div id="education"><h1 class="low-gray">Academic</h1>
    <div id="info">
        <div id="degree">
            <div id="degree-name">
                <h2>Engineering in Computer Security <small>October 2007 - August 2011</small></h2>
                <div class="position">Tec-Milenio University Campus Chihuahua, Chihuahua, Chih.</div>
            </div>
            <div id="degree-info">
                <p></p>
                <div class="floatleft">
                    <h4>Highlights:</h4>
                        <ul>
                            <li>Entitled (title in process to come)</li>
                            <li title="General Exam of Graduation Degree | CENEVAL">Testimony Outstanding Performance (EGEL | CENEVAL)</li>
                            <li>Maintained GPA, working 45 hours per week</li>
                        </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <hr/><!-- horizontal rule -->
        <div id="certifications">
            <h2>Courses and Certifications</h2>
                <ul>
                    <li id="remark"><h3>ENSA - EC-Council Network Security Administrator <small>EC-Council</small></h3><div class="position">2013 | Mexico City | 45 Hours</div></li>
                    <a href="https://cert.eccouncil.org/ec-council-certified-secure-programmer.html?iframe=true&width=1110&height=400" title="EC-Council Certified Secure Programmer">
                      <li id="certification">
                        <h3>ECSP Certification | EC-Council Certified Secure Programmer
                          <small>EC-Council</small>
                        </h3>
                        <div class="position">2012 | Mexico City</div>
                      </li>
                    </a>
                    <a href="https://cert.eccouncil.org/certified-ethical-hacker.html?iframe=true&width=1110&height=400" title="Certified Ethical Hacker">
                      <li id="certification">
                        <h3>CEH Certification | Certified Ethical Hacker
                          <small>EC-Council</small>
                        </h3>
                        <div class="position">2012 | Mexico City</div>
                      </li>
                    </a>
                    <li id="notremark" class="disabled-pdf"><h3>Certification Course S5 | Security 5 <small>EC-Council</small></h3><div class="position">2011 | Chihuahua, M&eacute;xico | 20 Hours</div></li>
                    <a href="http://www.alapsi.net/pgsi.html?iframe=true&width=1180&height=400" title=" Certified Security Information Specialist">
                      <li id="certification">
                        <h3>ECSI Certification | Certified Security Information Specialist
                          <small>ALAPSI</small>
                        </h3>
                        <div class="position">2011 | Chihuahua, M&eacute;xico</div>
                      </li>
                    </a>
                    <li id="notremark" class="disabled-pdf"><h3>Program Information Security Management <small>ALAPSI</small></h3><div class="position">2011 | Chihuahua, M&eacute;xico | 100 Hours</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>Electronic Billing Course <small>Informap</small></h3><div class="position">2010 | Chihuahua, M&eacute;xico | 2 Hours</div></li>
                    <li id="remark"><h3>Technical Course and Telemetry Systems Geolocation IP over RF <small>BGH</small></h3><div class="position">2009 | Buenos Aires, Argentina | 55 Hours</div></li>
                    <li id="remark"><h3>6420A - Fundamentals of Windows Server 2008 Network and Applications Infrastructure <small>NetX</small></h3><div class="position">2009 | Chihuahua, M&eacute;xico | 35 Hours</div></li>
                    <li id="remark"><h3>Certification Course MWFE | Motorola Wireless Field Engineer <small>Motorola</small></h3><div class="position">2009 | Mexico City | 45 Hours</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>MMD200 - Technical Course MotoMesh Solo/Duo/Quattro <small>Motorola</small></h3><div class="position">2008 | Mexico City | 20 Hours</div></li>
                    <li id="certification"><h3>CASS Certification | Certified Alvarion System Specialist <small>Alvarion</small></h3><div class="position">2008 | Canc&uacute;n, M&eacute;xico</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>IP Convergence Seminar <small>Pelco</small></h3><div class="position">2008 | Monterrey, M&eacute;xico | 5 Hours</div></li>
                    <li id="remark"><h3>Technical Course Installation and Configuration Services Digital Imaging and Video <small>Pelco</small></h3><div class="position">2008 | Clovis, CA, United States | 30 Hours</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>Technical Course DigitalSENTRY IP Video Recording <small>Pelco</small></h3><div class="position">2008 | Clovis, CA, United States | 20 Hours</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>CPT400 - Technical Course Prizm Management System <small>Motorola</small></h3><div class="position">2007 | Mexico City | 10 Hours</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>HZD200 - Technical Course HotZone Duo <small>Motorola</small></h3><div class="position">2007 | Mexico City | 20 Hours</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>BPL200 - Technical Course Broadband over Power Line <small>Motorola</small></h3><div class="position">2007 | Mexico City | 10 Hours</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>CPT210 - Technical Course Orthogon Systems OFDM <small>Motorola</small></h3><div class="position">2007 | Mexico City | 20 Hours</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>CPT200 - Technical Course Canopy FSK <small>Motorola</small></h3><div class="position">2007 | Mexico City | 20 Hours</div></li>
                    <li id="notremark" class="disabled-pdf"><h3>Base Course Design for Video Surveillance Systems <small>Pelco</small></h3><div class="position">2007 | Clovis, CA, United States | 50 Hours</div></li>
                </ul>
        </div>
    </div>
</div>
