<div id="experience"><h1 class="low-gray">Work Experience</h1>
  <div id="info">
    <div id="job">
      <div id="jobname">
        <h2>Sytecso <small>May 2012 - Present</small></h2>
        <div class="position">Security Process Engineer <small>(Full Time)</small></div>
      </div>
      <div id="jobdesc">
        <p>Coordinate and supervise the advice and support of wireless networks and CCTV for each of the distributors of the company, considering the design and project development.</p>
      </div>
      <div id="jobtasks" class="disabled-pdf">
        <div class="floatleft">
          <h4>Main Activities:</h4>
          <ul>
            <li>Control and management of technical training courses for the channel of distributors and vertical markets.</li>
            <li>Care to distributors in the management, design, planning and estimating projects WiBB and CCTV, including personal visits being launched nationwide.</li>
            <li>Quality control, analysis and product testing skills new to the portfolio of solutions and leading several projects related to the introduction of new technologies and services.</li>
            <li>Support distributor to the end customer demonstrations as a field engineer brand representative.</li>
            <li>In charge of the quality process in the area of IT that PV Comunicaciones performed annually to maintain the Quality Management System ISO 9001:2008 certification.</li>
            <li>Self-programmed annual visits to distributors focus on strategic business plan.</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <hr/><!-- horizontal rule -->
    <div id="job">
      <div id="remark">
        <h2>PV Comunicaciones <small>July 2010 - April 2012</small></h2>
        <div class="position">Engineering and Systems Manager <small>(Full Time)</small></div>
      </div>
      <div id="jobdesc">
        <p>Coordinate and supervise the advice and support of wireless networks and CCTV for each of the distributors of the company, considering the design and project development.</p>
      </div>
      <div id="jobtasks" class="disabled-pdf">
        <div class="floatleft">
          <h4>Main Activities:</h4>
          <ul>
            <li>Control and management of technical training courses for the channel of distributors and vertical markets.</li>
            <li>Care to distributors in the management, design, planning and estimating projects WiBB and CCTV, including personal visits being launched nationwide.</li>
            <li>Quality control of new products to be added to the solutions portfolio and lead of several projects related to the introduction of new technologies and services.</li>
            <li>Distributors support on demonstrations to the end customer as well as a field engineer brand representative.</li>
            <li>Leader on the IT quality process performed annualy by PV Comunicaciones regarding the Quality Management System ISO 9001:2008 certification.</li>
            <li>Self-programmed annual visits to distributors focused on the strategic business plan review.</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <hr/><!-- horizontal rule -->
    <div id="job">
      <div id="remark">
        <h2>PV Comunicaciones <small>August 2009 - July 2010</small></h2>
        <div class="position">Systems Manager <small>(Full Time)</small></div>
      </div>
      <div id="jobdesc">
        <p>Maintenance of the server and user equipment integrity, as well as on-site hosted services including communication between branches via voice, video and data. Management of backups and maintenance of all the IT infrastructure.</p>
      </div>
      <div id="jobtasks" class="disabled-pdf">
        <div class="floatleft">
          <h4>Main Activities:</h4>
          <ul>
            <li>Control and management of different computer centers virtualization environments and IT infrastructure of the company nationwide.</li>
            <li>Analysis and evaluation of software tools related to risk management, vulnerability management, security information and event management.</li>
            <li>Enterprise network security policies and users/severs backup data policies management.</li>
            <li>Control and management of growth opportunities in IT services through the ISO 9001:2008 as a field of continuous improvement.</li>
            <li>Monitoring and management of computing services, network, PBX and CCTV as a proactive approach to disaster recovery, calculation of return on investment and decision making.</li>
            <li>Leader of the verification of integrity and functionality of the IT infrastructure, analysis of fall prevention, maintenance and upgrade of computer systems (Mac | Windows), risk management and business continuity.</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <hr/><!-- horizontal rule -->
    <div id="job">
      <div id="remark">
        <h2>PV Comunicaciones <small>December 2006 - August 2009</small></h2>
        <div class="position">Systems Assistant <small>(Full Time)</small></div>
      </div>
      <div id="jobdesc">
        <p>Technical support to users, including servers, communications, networking, security, hardware and software consulting, DB backup, and new software or services implementation.</p>
      </div>
      <div id="jobtasks" class="disabled-pdf">
        <div class="floatleft">
          <h4>Main Activities:</h4>
          <ul>
            <li>Data Backup DB's (daily, weekly and monthly).</li>
            <li>Server monitoring, dedicated links and Web service.</li>
            <li>Antivirus Administration (Corporate and Branch).</li>
            <li>Preventive and corrective maintenance to computer equipment.</li>
            <li>Support service and PBX switch operation.</li>
            <li>Assist the client company's internal systems issues in the area.</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
