<div id="projects"><h1 class="low-gray">Remarkable Projects</h1>
    <div id="info">
        <ul>
            <li id="notremark"><h3>New Main Site - Leader in the construction and implementation of new computer center for PV Comunicaciones <small>PV Comunicaciones</small></h3><div class="position">2010 | Chihuahua, M&eacute;xico | $ 1,280,000 MXN</div></li>
            <li id="remark"><h3>Asterisk - Developer and manager of PBX VoIP network implementation at national level | GNU / Linux CentOS, Asterisk, Cisco SPA500 <small>PV Comunicaciones</small></h3><div class="position">2010 | Chihuahua, M&eacute;xico | $ 470,000 MXN</div></li>
            <li id="notremark"><h3>VMware - Promoter and responsible for implementation of virtualization | 15 vServers were obtained with 2 ESXi hypervisors vSphere 4 <small>PV Comunicaciones</small></h3><div class="position">2009 | Chihuahua, M&eacute;xico | $ 120,000 MXN</div></li>
            <li id="remark"><h3>iNetworks Veracruz - Installation of Motorola HotZone Management Server | Metropolitan Mesh Network to Veracruz and Boca del Rio <small>Veracruz Government</small></h3><div class="position">2009 | Veracruz, M&eacute;xico | $USD 1,500,000</div></li>
            <li id="notremark"><h3>Zumpango Insurance - Designer of the project and flotilla leader | Wireless video security administered by the municipality C4 <small>Zumpango Government</small></h3><div class="position">2008 | Zumpango, Edo. de M&eacute;xico | $USD 120,000</div></li>
        </ul>
    </div>
</div>
