*.gem
.bundle
_site/
.sass-cache
.jekyll-metadata
.DS_Store
_config-dev.yml
.docker
.yarn-integrity
yarn-error.log

# Node.JS modules
/assets/node_modules/**/*.md
/assets/node_modules/**/AUTHORS.txt
/assets/node_modules/**/bower.json
/assets/node_modules/**/LICENSE
/assets/node_modules/**/LICENSE.txt
/assets/node_modules/**/package.json

# @fortawesome/fontawesome-free
/assets/node_modules/@fortawesome/fontawesome-free/css/
/assets/node_modules/@fortawesome/fontawesome-free/less/
/assets/node_modules/@fortawesome/fontawesome-free/metadata/
/assets/node_modules/@fortawesome/fontawesome-free/scss/
/assets/node_modules/@fortawesome/fontawesome-free/sprites/
/assets/node_modules/@fortawesome/fontawesome-free/svgs/
/assets/node_modules/@fortawesome/fontawesome-free/webfonts/
/assets/node_modules/@fortawesome/fontawesome-free/js/*
!/assets/node_modules/@fortawesome/fontawesome-free/js/*.min.js
/assets/node_modules/@fortawesome/fontawesome-free/js/conflict-detection.*
/assets/node_modules/@fortawesome/fontawesome-free/js/v4-shims.*
/assets/node_modules/@fortawesome/fontawesome-free/js/all.*
/assets/node_modules/@fortawesome/fontawesome-free/js/brands.*
/assets/node_modules/@fortawesome/fontawesome-free/js/regular.*

# bootstrap
/assets/node_modules/popper.js/
/assets/node_modules/bootstrap/dist/
/assets/node_modules/bootstrap/js/
/assets/node_modules/bootstrap/scss/**/*.scss
!/assets/node_modules/bootstrap/scss/_functions.scss
!/assets/node_modules/bootstrap/scss/_variables.scss
!/assets/node_modules/bootstrap/scss/vendor/_rfs.scss
!/assets/node_modules/bootstrap/scss/mixins/_deprecate.scss
!/assets/node_modules/bootstrap/scss/mixins/_breakpoints.scss
!/assets/node_modules/bootstrap/scss/mixins/_hover.scss
!/assets/node_modules/bootstrap/scss/mixins/_screen-reader.scss
!/assets/node_modules/bootstrap/scss/mixins/_text-emphasis.scss
!/assets/node_modules/bootstrap/scss/mixins/_text-hide.scss
!/assets/node_modules/bootstrap/scss/mixins/_text-truncate.scss
!/assets/node_modules/bootstrap/scss/mixins/_background-variant.scss
!/assets/node_modules/bootstrap/scss/mixins/_border-radius.scss
!/assets/node_modules/bootstrap/scss/mixins/_transition.scss
!/assets/node_modules/bootstrap/scss/mixins/_clearfix.scss
!/assets/node_modules/bootstrap/scss/_transitions.scss
!/assets/node_modules/bootstrap/scss/_nav.scss
!/assets/node_modules/bootstrap/scss/_navbar.scss
!/assets/node_modules/bootstrap/scss/utilities/_flex.scss
!/assets/node_modules/bootstrap/scss/utilities/_spacing.scss

# jquery
/assets/node_modules/jquery/external/
/assets/node_modules/jquery/src/
/assets/node_modules/jquery/dist/*.*
!/assets/node_modules/jquery/dist/*.slim.min.*
