<div class="floatleft">
  {% for list in include.lists %}
    <h4>{{ list.heading }}</h4>
    <ul>
      {% for bullet in list.bullets %}
        <li>{{ bullet }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
