{% for list in include.lists %}
  <div class="floatleft">
    <{{ include.heading-type | default: 'h4' }}>
      {{ list.heading }}
    </{{ include.heading-type | default: 'h4' }}>
    <ul>
      {% for bullet in list.bullets %}
        <li>{{ bullet }}</li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
