/*
------------------------------------------------------------
|                         Octocat style
------------------------------------------------------------
*/

.octocat-corner{
  width: 110px;
  height: 110px;
  fill: #fff;
  color: #494946;
  top: 0;
  right: 0;
  border: 0;
  position: absolute;
}

@media (max-width: 757px){
  .octocat-corner{
    right:calc(100% - 757px);
  }
}
