<div id="name">
  <a href="/">
    <img src="{{ site.public-url }}/img/name-trans-white.png" title="Edgar Tinajero" />
  </a>
</div>
<div id="frame">
  <a href="{{ site.public-url }}/img/me_large.jpg" rel="prettyPhoto" id="picture">
    <img src="{{ site.public-url }}/img/me_small.jpg" alt="Edgar Tinajero" />
  </a>
</div>
<ul id="details">
  <li id="phone">
    <img src="{{ site.public-url }}/img/flag-mx.gif" alt="M&eacute;xico"> Cel. (55) 4868 8100
  </li>
  <li id="email">
    <a href="mailto:cetinajaro@me.com">cetinajaro@me.com</a>
  </li>
</ul>
