<div class="modal">
  <input id="photo" class="checkbox" type="checkbox" />
  <div class="modal-overlay">
    <label for="photo" class="o-close"></label>
    <div class="modal-wrap from-bottom center">
      <label for="photo" class="close">x</label>
      <img src="{{ '/assets/img/me_large.jpg' | relative_url }}" title="Edgar Tinajero" alt="Edgar Tinajero"/>
    </div>
  </div>
</div>
