#top,
#footer {
	clear:both;
	overflow:hidden;
	font-size:12px;
	font-weight:bold;
	padding:25px 0px 0px 0px;
}

#top ul,
#footer ul {
	margin:auto;
	padding:0px;
	list-style:none;
	width:455px;
}

#top ul li,
#footer ul li {
	float:left;
	margin:0px 10px 0px 10px;
}

#top a,
#top label,
#top p,
#footer a{
	display:block;
	padding:10px 10px 10px 23px;
	outline:none;
}

#top a:link,
#top a:visited,
#top label,
#top p,
#footer a:link,
#footer a:visited,
.degree a:link,
.degree a:visited {
	color:#17375C;
	text-decoration:none;
}

#top a:hover,
#top p:hover,
#top label:hover,
#footer a:hover,
.degree a:hover {
	color:#0085CF;
}

#top label,
#top p {
	cursor:pointer;
}

#top p {
	line-height:14px;
	margin:0px;
}

#download {
	background:url(../img/disk.jpg) no-repeat 0px 9px;
}

#mail {
	background:url(../img/mail.png) no-repeat 0px 9px;
}

#photo {
	background:url(../img/image.png) no-repeat 0px 9px;
}

#english {
	background:url(../img/en.png) no-repeat 0px 9px;
}

#spanish {
	background:url(../img/es.png) no-repeat 0px 9px;
}

#online {
	background:url(../img/online.png) no-repeat 0px 9px;
}

@media (max-width: 850px){
	#top ul {
    padding-top: 50px;
  }
}

@media (max-width: 770px){
	#top ul {
    padding-top: 75px;
  }
}
