{% assign data = site.data.components.body-sections.about-me.i18n[include.lang] %}

<div id="aboutme">
  {% include components/headings/low-gray.liquid %}
  <div id="info">
    {% for p in data.paragraphs %}
      <p>{{ p.start }} <span id="{{ p.id }}"></span> {{ p.end }}</p>
    {% endfor %}
  </div>
</div>
