{% assign data = site.data.components.body-sections.availability.i18n[include.lang] %}

<div id="availability">
  {% include components/headings/low-gray.liquid %}
  <div id="info">

    {% for attribute in data.info %}
      {% include components/description-lists/description-list.liquid %}
    {% endfor %}

    <p id="interest-areas">{{ data.interest-areas.heading }}:</p>
    {% include components/lists/list.liquid lists=data.interest-areas.areas %}

    {% include components/utilities/clearfix.liquid %}

  </div>
</div>
