{% assign data = site.data.components.body-sections.generals.i18n[include.lang] %}

<div id="general">
  {% include components/headings/low-gray.liquid %}
  <h2>{{ data.title }}</h2>
  <div id="info">
    {% for attribute in data.attributes %}
      {% include components/description-lists/description-list.liquid %}
    {% endfor %}
  </div>
</div>
