<!DOCTYPE html>
<html>
  	<head>
        {% seo %}
        <link type="text/css" rel="stylesheet" href="/css/main.css" />
        <link rel="Shortcut Icon" href="/img/favicon.ico" type="image/x-icon" />
  	</head>
  	<body>
    		<table id="container">
            <tbody>
                <tr>
                    <td id="generals">
                        <div id="sidebar">
                        </div>
                    </td>
                    <td id="content">
                        {{ content }}
                    </td><!-- end content -->
                </tr>
            </tbody>
    		</table> <!-- end container -->
  	</body>
</html>
