<!DOCTYPE html>
<html>

  <head>
    {% seo %}
    <link type="text/css" rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link rel="Shortcut Icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon" />
    {% include components/scripts/scripts.liquid %}
  </head>

  <body>
    {% include components/modals/modal.liquid %}

    <table id="container">
      <tbody>
        <tr>
          <td id="generals">
            <div id="sidebar">
              {% include components/sidebars/sidebar.liquid %}
            </div>
          </td>
          <td id="content">
            {{ content }}
          </td><!-- end content -->
        </tr>
      </tbody>
    </table> <!-- end container -->

    {% include components/ribbons/octocat-corners.liquid %}
  </body>

</html>
