<!DOCTYPE html>
<html>
  <head>
    {% seo %}
    <link type="text/css" rel="stylesheet" href="{{ site.public-url }}/css/main.css" />
    <link rel="Shortcut Icon" href="{{ site.public-url }}/img/favicon.ico" type="image/x-icon" />
    <script defer type="text/javascript" src="{{ site.public-url }}/vendors/jquery/1.3.2/jquery.min.js"></script>
    <script defer type="text/javascript" src="{{ site.public-url }}/js/sidebar.js"></script>
    <script defer type="text/javascript" src="{{ site.public-url }}/js/date.js"></script>
    <script async type="text/javascript" src="{{ site.public-url }}/js/lang.js"></script>
  </head>
  <body>
    {% include modal.html %}
    <table id="container">
      <tbody>
        <tr>
          <td id="generals">
            <div id="sidebar">
              {% include sidebar.html %}
            </div>
          </td>
          <td id="content">
            {{ content }}
          </td><!-- end content -->
        </tr>
      </tbody>
    </table> <!-- end container -->
    {% include octocat.html %}
  </body>
</html>
